body {
    font-family: 'Inter', sans-serif;
    background-color: #2e3440; /* Nord0 */
    color: #d8dee9; /* Nord4 */
    margin: 0;
    padding: 0;
}

header {
    border-top: 10px solid #88c0d0;
    background-color: #5e81ac; /* Nord8 */
    color: #eceff4; /* Nord5 */
    text-align: center;
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 48px;
}

h1, h2 {
    color: #eceff4; /* Nord5 */
    margin: auto;
}

h1 {
    font-size: 24px;
}

p {
    color: #d8dee9; /* Nord4 */
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

article {
    text-align: center;
    background-color: #4c566a; /* Nord3 */
    flex: 1;
    border-radius: 8px;
    padding: 40px;
    margin: 10px;
    width: 240px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

article:hover {
    transform: scale(1.05);
}

a {
    color: #81a1c1; /* Nord9 */
    text-decoration: none;
    display: flex;
    margin-top: 10px;
}

a:focus, a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    flex: 1;
}