.wedding-container {
    display: flex;
    justify-content: center;
}

video {
    max-height: calc(100vh - 60px);
    width: 100%;
}

a.btn {
    margin: 0;
    background-color: #4c566a; /* Nord3 */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    color: #eceff4;
    font-size: 20px;
    padding: 8px 8px 8px 0;
    display: flex;
    align-items: center;
}

a.btn:focus, a.btn:hover {
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

a.btn:active {
	position: relative;
	top: 1px;
}

.size-6 {
    width: 24px;
    height: 24px;
}